<a href="https://colab.research.google.com/github/KethavathSowmya33/innovativeinternship/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Unique words in a sentence
sentence=input("Enter sentence: ")
words=sentence.split()
uniquewords=set(words)
print("Unique words count:", len(uniquewords))
print("Unique words:",uniquewords)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'powerful', 'python', 'and', 'is'}

In [4]:
#Highest salary from employee data
employees={
    "Ravi":75000,
    "Anita":68000,
    "Kiran":72000
}
highest=max(employees,key=employees.get)
print("Employee with highest salary:", highest)
print("Highest salary:",employees[highest])

Employee with highest salary: Ravi
Highest salary: 75000

In [6]:
#Find maximum and minimum values
numbers=[45,22,89,10,66]
max=numbers[0]
min=numbers[0]
for num in numbers:
  if num>max:
    max=num
  if num<min:
    min=num
print("List:",numbers)
print("Max:",max)
print("Min:",min)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [8]:
#Count products above a price threshold
prices=[450,1200,899,1500,300]
count=0
for price in prices:
  if price > 1000:
    count+=1
print("Products above 1000:",count)

Products above 1000: 2

In [10]:
#Calculate attendance percentage
attendance=["P","P","A","P","P"]
presentcount=attendance.count("P")
totaldays=len(attendance)
percentage=(presentcount/totaldays)*100
print("Attendance Percentage",percentage)

Attendance Percentage 80.0

In [12]:
#Remove duplicate phone numbers
phonenumbers=[9876543210,9123456789,9876543210]
uniquenumbers=set(phonenumbers)
print("Uniue phone numbers:",uniquenumbers)

Uniue phone numbers: {9876543210, 9123456789}

In [14]:
#count character frequency
text="python"
charfrequency={}
for char in text:
  if char in charfrequency:
    charfrequency[char]+=1
  else:
    charfrequency[char]=1
print("Character frequency:",charfrequency)

Character frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [16]:
#convert list to Tuple
numbers=[10,20,30]
tupleresult=tuple(numbers)
print("Tuple:",tupleresult)

Tuple: (10, 20, 30)

In [18]:
#check if a key exixts in a dictionary
employees={
    "Ravi":75000,
    "Anita":68000,
    "Kiran":72000
}
check="Ravi"
if check in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

In [19]:
#calculate th average marks
marks=[80,75,93,85]
total=sum(marks)
avg=total/len(marks)
print("Average marks:",avg)

Average marks: 83.25